linktype = ip
ip_port = 8000
ip_address = 192.168.2.3

#linktype = usb
#usb_id = 0x8E87F5E8
#usb_id = 0x4264160B

######################################################################
# Minimum input voltage for the control system logic
# used in controller.cpp
######################################################################
minInputVoltageController = 12.0


######################################################################
# Speed scalling of the motivation before passing to motModule
# used in controller.cpp
######################################################################
speedscale = 0.2


######################################################################
# Weighting for all sensors relative to motivation goal vector at 1.0
# used in planner.cpp
######################################################################
repulse_weight = 1.5


######################################################################
# Normalize final motivation vector before passing to motModule
# used in planner.cpp
######################################################################
normalize_motivation = 0


######################################################################
# Max unpassed distance (outside donut diameter) in meters
# used in planner.cpp
######################################################################
maxUnPassedDistanceToWaypoint = 2.0


######################################################################
# Min unpassed distance (inside donut diameter) in meters
# used in planner.cpp
######################################################################
minUnPassedDistanceToWaypoint = 0.5


######################################################################
# Angle of the donut slice 180deg from the waypoint heading
######################################################################
unpassedZeta = 90


loopdelay = 200
mapfile = maps/acroSquare.track
