######################################################################
# FILENAME: console.config
######################################################################
# NOTES:  This file uses the "#" character to comment a line. 
# Parameters are in the format:
#    # parameter - definition, default,
#    #             and other info
#    #
#
#    # parameter = value
#
# To change a parameter, (1) remove the '#' before the parameter to
# enable it and (2) change the value after the equals sign.  Note that 
# capitalization does matter.
#
# IMPORTANT: If you edit this file in Notepad or a similar text 
# editor, be sure that it does not add the extension '.txt' to the end
# of the file name.  If you are using Windows and have not already,
# you may wish to go to Control Panel > Folder Options > View
# and uncheck the box for hiding extensions for known file types
#
######################################################################


# THIS FILE IS NOT REQUIRED TO RUN THE aConsole PROGRAM

# linktype - Tells the program what type of link is being used.
#            Options are serial, usb, ip
#            The Default is serial. When doing relays, ip is used.
#            The usb type is for newer BrainStem modules currently
#            in development.
# linktype = serial



#### for serial linktype
# portname - Tells the program which port to listen for the Brainstem.
#            Defaults are: printer for MacOS, COM1 for Windows, ttyS1 
#            for Linux, and serial for PalmOS. On Mac, you may use
#            'ls /dev' to find the port.
#            Values are case sensitive and must be typed correctly. 
#            For example, "com1" is not the same as "COM1".
#
#portname = COM1

#### for serial linktype
# baudrate - This determines the speed of data transmission over
#            the serial connection.  The default for the Brainstem is
#            9600, and other options are 2400, 9600, 19200, 38400, 57600 and
#            115200.  The baudrate should typically be kept at 9600
#            for sucessful communication with the BrainStem.
#
#baudrate = 9600



#### for usb linktype
# usb_id - Tells the program what the serial number of the brainstem
#          is that will be communicated with.  This id is unique for
#          each brainstem.  The default is 0 (invalid).  This number
#          is shown on the usb-based Brainstem itself and is typically
#          entered in hexidecimal format.
#
# usb_id = 0x00000000



#### for ip linktype
# ip_address - Tells the program what ip address the stem is located on.
#              This is currenly only an IP4 address in the format
#              XXX.XXX.XXX.XXX.  This address is typically the address
#              of the machine acting as the IP relay.
#
# ip_address = 127.0.0.1

#### for ip linktype
# ip_port - Tells the program what ip port the stem is located on.
#           This is typically a number above 6000 isn't limited to
#           a range.
#
# ip_port = 8000



# timeout - The amount of no-communication time (in msec) before the program
#           delivers an error.  Default is 1 sec.
#
#timeout = 1000

#### general UI information

# no_color - When set to true, disables any coloring of the text.  When true
#            the following color values are ignored.  Coloring is enabled by
#            default.
#
# no_color = false

# error_color
# echo_color
# status_color
# stem_color
# print_color - These are somewhat OS-dependent and behave differently in some
#               shells, etc.  These are used (where supported) by the command 
#               line to color the various types of input.  They can all be 
#               disabled using the no_color boolean described above.  When 
#               specified, these are RGB triples and easiest to specify as 
#               hexidecimal values.  For instance, to change the error color 
#               to red:
#
# error_color = 0xFF0000
